<div>
       <!-- NAME:<input type="text" id="inputId" value="A2N" /> -->

       <table border="2">
           <thead>
               <tr>
                   <th>NAME</th>
                   <th [attr.colspan]="col">Address</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>A2N</td>
                   <td>Banglore</td>
                   <td>KA</td>
                   <td>KA</td>
                   <td>KA</td>
               </tr>
               <tr >
                <td>Sagar</td>
                <td>Hyd</td>
                <td>Telangana</td>
                <td>KA</td>
                <td>KA</td>
            </tr>
            <tr >
                <td>Sagi</td>
                <td>Pune</td>
                <td>MH</td>
                <td>KA</td>
                <td>KA</td>
            </tr>
           </tbody>
       </table>
       <br/><br/><br/>
       <!-- <button (click)="hide()">{{ s ?"Hide" : "Show"}} Detailss</button> -->
       <!-- <button style="color:red">Style Data Binding</button>
       <button [style.font-size]="fontSize">Style Data Binding</button>
       <button [style.font-weight]="isbold ? 'bold':'normal'">Style Data Binding</button> -->
</div>
