<div >
   <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
     <div class="container">
     <a href="#" class="navbar-brand">Angular Component Interaction</a>

     </div>
   </nav>
  <!-- <h2>App Component</h2> -->
  <!-- <div style="text-align: center;margin: 20px;">
    <input type="radio" name="gender" checked (click)="change(true
    )" />Landing Page
    <input type="radio"  name="gender" (click)="change(false)" />Female
  </div> -->
  


   <!-- <div *ngIf="gender; else elseblock">
     <h2>I am Male</h2>
   </div>

   <ng-template  #elseblock>
     <h2>I am Female</h2>
   </ng-template> -->

  <!-- <app-landingpage *ngIf="gender"></app-landingpage> -->
<!-- <app-student-information></app-student-information> -->
<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2> -->
<!-- <app-main></app-main>
<app-header></app-header> -->
<!-- <app-ngstyleclass></app-ngstyleclass> -->
<!-- <app-databinding></app-databinding> -->
 <!-- <app-propertyclass></app-propertyclass> -->
 <!-- <app-evendatabinding></app-evendatabinding> -->
 <!-- <app-twoway-db></app-twoway-db> -->
 <!-- <app-filterdata></app-filterdata> -->
<!-- <app-navbar></app-navbar>
  
<router-outlet></router-outlet> -->
<app-parent></app-parent>
</div>