<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand">Angular Routing</a>
         <div>
             <ul class="nav">
                 <li class="nav-item"><a class="nav-link text-white" routerLink="/">Home</a></li>
                 <li class="nav-item"><a class="nav-link text-white" routerLink="/employee">Employee</a></li>
                 <li class="nav-item"><a class="nav-link text-white" routerLink="/stocks">Stocks</a></li>
                </ul>
         </div>
    </div>
</nav>
