<div class="text-center">
    <h1 class="text-danger">Home Component</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, iste! Illo impedit quia commodi voluptatibus nostrum tenetur rerum delectus excepturi qui accusantium omnis necessitatibus deserunt quam neque officiis consectetur error, tempore fugiat ullam dolores vero provident. Repudiandae debitis molestiae odio ipsa velit accusamus hic maxime. Veniam corrupti natus ex quidem, temporibus iusto? Quae dolorem quam ullam nihil architecto odit animi consequatur quia soluta delectus nostrum, saepe corporis totam tempora deleniti unde? Illo nihil ipsa, facilis expedita rerum blanditiis facere modi quasi nam sapiente ducimus doloremque nobis officiis placeat voluptates nemo fugit numquam quia quo sequi ipsam commodi sit. Numquam, ullam.</p>
    <button class="btn btn-primary px-3">Explore More</button>
</div>
